body{
  margin:0;
  padding:0;
  background-image: url("img/prisontot.gif");
  background-repeat: repeat;
  border-top: 75px solid #262626;
}

.header {
  font-family: sans-serif;
  color: white;
  position:absolute;
  top:0px;
  left: 50%;
  transform: translate(-50%,0);
}

.shelf {
  position:absolute;
  left:0px;
  top:0px;
}

h3{
  text-align: center;
}
