body{
  margin:0;
  padding:0;
  background-image: url("img/prisontot.gif");
  background-repeat: repeat;
  border-top: 75px solid #262626;
}

.header {
  font-family: sans-serif;
  color: white;
  position:absolute;
  top:0px;
  left: 50%;
  transform: translate(-50%,0);
}

.shelf {
  position:absolute;
  left:0px;
  top:0px;
}

img {
  float: right;
  padding-left: 20px;
}

.bodybox {
  font-family: sans-serif;
  margin: 100px;
  width: 100vh - 100px;
  background-color: rgba(255,255,255,0.7);
  padding: 30px;
  overflow: auto;
}

.bodybox h2 {
  text-align: center;
}

.bodybox p {
  font-size: 20px;
  text-align: justify;
}

.stamp {
  position: absolute;
  top:5px;
  right:5px;
}
